doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MusicVerse - #{title}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

  body(style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f8f8f8;")
    table(width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse; background-color: #f8f8f8;")
      tbody(style="padding: 40px 0;")
        tr
          td(style="padding: 20px 0;")
            center
              table(cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%; margin: 0 auto; background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;")
                tbody
                  tr
                    td(style="text-align: center; padding: 40px 20px;")
                      h2(style="margin: 0; color: #333;") Hi #{name} 👋

                  tr
                    td(style="text-align: center; padding: 20px;")
                      p(style="margin: 0; color: #555; font-size: 18px;") Thank you for registering with MusicVerse! Please use the following verification code to complete your registration.

                  tr
                    td(style="text-align: center; padding: 20px;")
                      each digit in otp
                        div(style="display: inline-block; background-color: #f2f2f2; border-radius: 5px; padding: 10px; margin: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); font-size: 24px; color: #333;")
                          = digit

                  tr
                    td(style="text-align: center; padding: 20px;")
                      p(style="margin: 0; color: #555; font-size: 18px;") Please ignore this email if you didn't register. The verification code expires in 5 minutes.

            center
              p(style="margin-top: 30px; color: #888; font-size: 12px;") © 2024 MusicVerse by Sugam. All rights reserved.
